<?xml version="1.0"?>
<config>
    <modules>
        <CodeByJoe_Core>
            <version>0.1.0</version>
        </CodeByJoe_Core>
    </modules>
    <global>
        <helpers>
            <codebyjoe_core>
                <class>CodeByJoe_Core_Helper</class>
            </codebyjoe_core>
        </helpers>
    </global>
</config>